<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  {% load i18n %}
  <head>
    <meta charset = "utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Service Areas</title>
     <script type="text/javascript" src="{% static "js/jquery/jquery-1.10.2.min.js" %}"></script>
     <script type="text/javascript" src="{% static "js/jquery/jquery.form.min.js" %}"></script>
     <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
     <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAGj0kkTGuZLIb8-OJ13QRKP9Yh-KebcZg&sensor=false"></script>

     <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" />
     <link rel="stylesheet" href="{% static "css/style.css" %}" />


     <script type="text/javascript" src="{% static "js/service_areas.js" %}"></script>
     {% block extra_js %}
     {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Service Areas</a>
    </nav>

    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
