<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  {% load i18n %}
  {% load navigation %}
  <head>
    <meta charset = "utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Service Areas</title>
     <script type="text/javascript" src="{% static "js/jquery/jquery-1.10.2.min.js" %}"></script>
     <script type="text/javascript" src="{% static "js/jquery/jquery.form.min.js" %}"></script>
     <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
     <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false"></script>

     <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" />
     <link rel="stylesheet" href="{% static "css/style.css" %}" />


     <script type="text/javascript" src="{% static "js/service_areas.js" %}"></script>
     {% block extra_js %}
     {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="{% url 'core:home' %}">Service Areas</a>
      <ul class="nav navbar-nav">
        <li class="{% navactive request 'core:draw' %}"><a href="{% url 'core:draw' %}">Draw</a></li>
        <li class="{% navactive request 'core:query' %}"><a href="{% url 'core:query' %}">Query</a></li>
      </ul>
    </nav>

    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
